<div id="app-container"></div>

<script type="text/template" id="app-template">
  <div id="modal-background"></div>
  <div id="data-table-container">
	<table class="data-table">
	  <thead>
		<tr>
		  <td class="datapoint-wellid">Well</td>
		  <td class="datapoint-timestamp">Timestamp</td>
		  <td class="datapoint-vbatt">V Batt</td>
		  <td class="datapoint-timestamp">Temp (F)</td>
		  <td class="datapoint-ambtemp">Amb Temp (F)</td>
		  <td class="datapoint-pipetemp">Pipe Temp (F)</td>
		  <td class="datapoint-humidity">Humidity (%)</td>
		  <td class="datapoint-methane">Methane (%)</td>
		  <td class="datapoint-co2">CO2 (%)</td>
		</tr>
	  </thead>
	  <tbody class="data-table-tbody">

	  </tbody>
	</table>
  </div>
  <div id="toolbar-container" class="<%= privilege == 2 ? 'four-wide' : 'three-wide' %>">
	<span class="logout-button has-l-border">&#9032;</span>
	<span class="add-node-button">Node++</span>
	<span class="add-site-button has-r-border">Site++</span>
	<% if (privilege == 2) { %>
	  <span class="add-user-button has-r-border">User++</span>
	<% } %>
  </div>
  <ul id="site-list"></ul>
  <div id="add-user-modal" class="modal-wrapper">
	<span class="add-user-header">Add User</span>
	<span class="x-button">X</span>
	<form id="add-user-form">
	  <input type="text" name="username" placeholder="Username:"/>
	  <input type="password" name="password" placeholder="Password:"/>
	  <input type="password" name="confirm" placeholder="Confirm Password:"/>
	  <input type="email" name="email" placeholder="user@example.com"/>
	  <select class="user-privilege-select">
		<option value="1">Manager</option>
		<option value="2">Admin</option>
	  </select>
	  <input type="submit" value="Add User" class="add-user-submit"/>
	</form>
  </div>
  <div id="add-site-modal" class="modal-wrapper">
	  <span class="add-site-header">Add Site</span>
	  <span class="x-button">X</span>
	  <form id="add-site-form">
		<input type="text" name="name" placeholder="Site Name"></input>
		<% if (privilege == 2) { %>
		   <select  name="user_id" class="select_user"></select>
		<% } else { %>
		   <input type="hidden" name="user_id" value="<%= user_id %>"></input>
		<% } %>
		<input type="submit" value="Add New Site"></input>
	  </form>
  </div>
  <div id="add-node-modal" class="modal-wrapper">
	<span class="add-node-header">Add Node</span>
	<span class="x-button">X</span>
	<form id="add-node-form">
	  <input type="text" name="macaddr" class="node-macaddr"
	  placeholder="MAC Address"></input>
	  <input type="text" name="well_id" class="node-wellid"
	  placeholder="Well ID"></input>
	  <select name="site_id" class="add-node-site-select">

	  </select>
	  <input type="submit" value="Add New Node"></input>
	</form>
  </div>
</script>

<script type="text/template" id="select-site-template">
  <%= name %>
</script>

<script type="text/template" id="select-user-template">
  <%= email %>
</script>

<script type="text/template" id="site-template">
  <span class="site-name"><%= name %></span>
  <div class="site-actions <%- display ? 'state-visible' : 'state-hidden' %>">
	<span class="delete">Delete</span>
	<span class="edit">Edit</span>
  </div>
  <ul class="site-nodes <%- display ? 'state-visible' :
  'state-hidden' %>">
  </ul>
</script>

<script type="text/template" id="node-template">
  <span class="node-display">
	<input type="checkbox" name="node-display">
  </span>
  <span class="node-id"><%= well_id %></span>
</script>

<script type="text/template" id="datapoint-template">
  <td class="datapoint-wellid"><%= well_id %></td>
  <td class="datapoint-timestamp"><%= timestamp %></td>
  <td class="datapoint-vbatt"><%= vbatt %></td>
  <td class="datapoint-temp"><%= temp %></td>
  <td class="datapoint-ambtemp"><%= amb_temp %></td>
  <td class="datapoint-pipetemp"><%= pipe_temp %></td>
  <td class="datapoint-humidity"><%= humidity %></td>
  <td class="datapoint-methane"><%= methane %></td>
  <td class="datapoint-co2"><%= co2 %></td>
</script>

<script src="/static/Dossier.js"></script>
<link rel="stylesheet" type="text/css" href="/static/bootstrap.css" />
